* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Open sans', sans-serif;
    display: grid;
    place-items: center;
    background-color: #323031;
    color: #e9d5b4;
}

li {
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 100;
}

h1, h2 {
  color: #f0c857;
}

h1 {
  padding: 25px;
}

h2 {
  padding-top: 50px;
  padding-bottom: 20px;
}

h3 {
  padding: 25px;
}

p {
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 100;
  width: 600px;
  text-align: center;
}

td {
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 100;
}

.quote {
  font-size: 15px;
  width: 600px;
}

.profile_picture {
  border-radius: 50px;
  margin-top: 30px;
  width: 200px;
}

a {
  color: #609bc9;
  font-size: 14px;
}

a:visited {
  color: #609bc9;
}

a:hover {
  color: #f0c857;
}

input[type="checkbox"] {
  vertical-align: middle;
  accent-color: #609bc9;
}

.footer {
  padding: 20px;
}
